.board {
  height: 100vh;
  width: 100vw;
}

.celticCross {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bodyCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}

.bodyCards > div {
  max-width: fit-content;
  margin-bottom: 20px;
  flex-grow: 1;
}

.celticCross > div:first-child {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerCard {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 1px;
}

.centerCard img {
  transform: translate(0%, -50%);
}

.centerTopCard {
  position: absolute;
  /* z-index: 10; */
  left: 50%;
  top: 50%;
  width: 1px;
  height: 1px;
}

.centerTopCard img {
  transform: translate(0%, -50%) rotate(-80deg);
}

.topCard {
  max-width: fit-content;
  position: absolute;
  left: 50%;
  top: 1%;
}

.topCard img {
  /* transform: translateX(-50%); */
}

.rightCard {
  position: absolute;
  top: 39%;
  right: 10%;
}

.bottomCard {
  position: absolute;
  left: 50%;
  bottom: 1%;
}

.bottomCard img {
  /* transform: translateX(-50%); */
}

.leftCard {
  position: absolute;
  top: 39%;
  left: 20%;
}
